/* Style général */
.contact-page {
  text-align: center;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

/* Section Image et Texte */
.contact-header {

  background-image: url("https://fr.vecteezy.com/photo/22771528-interieur-de-une-luxueux-chambre-dans-lumiere-couleurs-generatif-ai"); /* Vérifie le chemin */
  background-size: cover; /* Ajuste l'image pour couvrir toute la div */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition */
  color: rgb(0, 0, 0); /* Texte en blanc pour la lisibilité */
  text-align: center; /* Centrer le texte */
  padding: 100px 20px; /* Espacement */
  border-radius: 10px; /* Coins arrondis */

  color: rgb(10, 8, 8);
  padding: 100px 20px;
}

.contact-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-header p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1rem;
}


/* Formulaire de contact */
.contact-form {
  background: white;
  padding: 30px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  width: 100%;
  background: #69733f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #5a6235;
}

/* Carte Google Maps */
.contact-map {
  width: 100%;
  margin-top: 30px;
}

.contact-map iframe {
  width: 100%;
  height: 350px;
  border: none;
}
